.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.cube{
	position: relative;
	width: 300px;
	height: 300px;
	transform-style: preserve-3d;
	
	animation: animate 4s linear infinite;
}
@keyframes animate
{
	0%
	{
		transform: rotateX(-30deg)  rotateY(0deg);
	}
	100%
	{
		transform: rotateX(-30deg)  rotateY(360deg);
	}
}
